<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.lsum9.cafe24.home.scheduler.mapper.SchedulerMapper">

    <select id="selectScheduleList" parameterType="SchedulerDto" resultType="SchedulerDto">
        SELECT
            schedule_no
             , schedule_year
             , schedule_month
             , schedule_date
             , date_format(schedule_start_time, '%k:%i') as schedule_start_time
             , date_format(schedule_end_time, '%k:%i') as schedule_end_time
             , `text`
             , reg_id
             , reg_date
             , modify_id
             , modify_date
        FROM lsum9.tb_scheduler
        WHERE schedule_year = #{scheduleYear}
          AND schedule_month = #{scheduleMonth}
        ORDER BY schedule_start_time;
    </select>

    <insert id="insertSchedule" parameterType="SchedulerDto">
        INSERT INTO
            lsum9.tb_scheduler
            (
             schedule_year
            , schedule_month
            , schedule_date
            , schedule_start_time
            , schedule_end_time
            , `text`
            , reg_id
            , reg_date
            )
        VALUES
            (
             #{scheduleYear}
            , #{scheduleMonth}
            , #{scheduleDate}
            , #{scheduleStartTime}
            , #{scheduleEndTime}
            , #{text}
            , #{regId}
            , current_timestamp()
            );
    </insert>

    <delete id="deleteSchedule" parameterType="int">
        DELETE FROM lsum9.tb_scheduler
        WHERE schedule_no=#{scheduleNo};
    </delete>

    <select id="selectSchedule" parameterType="int" resultType="SchedulerDto">
        SELECT FROM lsum9.tb_scheduler
        WHERE schedule_no=#{scheduleNo};
    </select>

    <update id="updateSchedule" parameterType="SchedulerDto">
        UPDATE lsum9.tb_scheduler
            SET
               schedule_start_time=#{scheduleStartTime}
              , `text`=#{text}
              , modify_id=#{modifyId}
              , modify_date=#{modifyDate}
              , schedule_end_time=#{scheduleEndTime}
        WHERE schedule_no=#{scheduleNo};
    </update>
</mapper>
