<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.lsum9.cafe24.board.mapper.BoardMapper">

    <select id="rowCnt" resultType="int">
        select nvl(max(board_no),0)
        from tb_board
    </select>

    <select id="selectBoardList" parameterType="PagingVo" resultType="BoardVo">
        SELECT
            board_no
             , reg_date
             , reg_id
             , title
        FROM lsum9.tb_board
        ORDER BY reg_date desc
        LIMIT #{rowPerPage} offset #{startRow};
    </select>

    <select id="selectTotalRow" resultType="int">
        SELECT count(board_no)
        FROM lsum9.tb_board
    </select>

    <select id="selectBoardDetail" parameterType="String">
        select  board_no
             , contents
             , reg_date
             , reg_id
        from lsum9.tb_board
        where board_no = #{boardNo}
    </select>

    <insert id="insertBoard" parameterType="BoardVo">
        INSERT INTO lsum9.tb_board
              contents
            , reg_date
            , reg_id
        VALUES
            #{contents}
          , CURRENT_TIMESTAMP
          , #{regId}
    </insert>

    <select id="selectPassword" parameterType="String">
        select user_id
        from lsum9.tb_user
        where password = #{password}
    </select>

    <update id="updateBoard" parameterType="BoardVo">
        UPDATE lsum9.tb_board
        SET
            contents= #{contents}
            , modify_date=CURRENT_TIMESTAMP
            , modify_id=#{modifyId}
        WHERE
            reg_id = #{regId}
    </update>


</mapper>
